.card {
	--card-background: var(--color-white);
	--card-foreground: var(--color-black);
	--card-border-color: var(--color-gray-200);
	--card-muted-foreground: var(--color-gray-500);
	--card-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);

	background-color: var(--card-background);
	color: var(--card-foreground);
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	border-radius: 0.75rem;
	border: 1px solid var(--card-border-color);
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	box-shadow: var(--card-shadow);
}

:global(.dark) .card {
	--card-background: var(--color-black);
	--card-foreground: var(--color-white);
	--card-border-color: var(--color-gray-800);
	--card-muted-foreground: var(--color-gray-400);
	--card-shadow: none;
}

.header {
	display: grid;
	grid-template-rows: auto auto;
	grid-auto-rows: min-content;
	align-items: start;
	gap: 0.5rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.header:has([data-slot="card-action"]) {
	grid-template-columns: 1fr auto;
}

.title {
	line-height: 1;
	font-weight: 600;
	font-size: 1.125rem;
}

.description {
	color: var(--card-muted-foreground);
	font-size: 0.875rem;
}

.action {
	grid-column-start: 2;
	grid-row: 1 / span 2;
	align-self: start;
	justify-self: end;
}

.content {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

.footer {
	display: flex;
	align-items: center;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}
