.base {
    width: 100%;
    border-radius: 8px;
    border: none;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    font-size: var(--font-size-16);
    font-weight: var(--font-weight-semibold);

    &:focus-visible {
        outline-width: 2px;
        outline-style: solid;
        outline-offset: 4px;
        outline-color: var(--button-base-outline-color);
    }

    @media screen and(min-width: var(--breakpoint-tablet)) {
        height: 48px;
        font-size: var(--font-size-18);
    }
}

.primary {
    background: var(--button-primary-background);
    color: var(--button-primary-color);

    &:hover,
    &:focus {
        background: var(--button-primary-hover-background);
        color: var(--button-primary-hover-background);
    }

    &:active {
        background: var(--button-primary-active-background);
        color: var(--button-primary-active-color);
    }
}

.secondary {
    background: var(--button-secondary-background);
    color: var(--button-secondary-color);

    &:hover,
    &:focus {
        background: var(--button-secondary-hover-background);
        color: var(--button-secondary-hover-background);
    }

    &:active {
        background: var(--button-secondary-active-background);
        color: var(--button-secondary-active-color);
    }
}

.tertiary {
    background: var(--button-tertiary-background);
    color: var(--button-tertiary-color);

    &:hover,
    &:focus {
        background: var(--button-tertiary-hover-background);
        color: var(--button-tertiary-hover-background);
    }

    &:active {
        background: var(--button-tertiary-active-background);
        color: var(--button-tertiary-active-color);
    }
}

.link-button {
    background: none;
    width: auto;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-16);
    text-decoration: underline;
    color: var(--button-link-color);

    &:focus-visible {
        outline-width: 3px;
        outline-style: solid;
        border-radius: 8px;
        outline-offset: 2px;
        outline-color: var(--button-link-outline-color);
    }

    @media screen and(min-width: var(--breakpoint-desktop)) {
        font-size: var(--font-size-18);
    }
}

.base svg {
    width: 1rem;
    height: 1rem;
    flex-shrink: 0;
}
