.base {
	width: auto;
	border-radius: 8px;
	border: none;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	font-size: var(--font-size-16);
	font-weight: var(--font-weight-semibold);

	&:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 4px;
		outline-color: var(--button-base-outline-color);
	}

	@media screen and (min-width: 768px) {
		height: 48px;
		font-size: var(--font-size-18);
	}
}

.primary {
	background: var(--button-primary-background);
	color: var(--button-primary-color);

	&:hover,
	&:focus {
		background: var(--button-primary-hover-background);
		color: var(--button-primary-hover-color);
	}

	&:active {
		background: var(--button-primary-active-background);
		color: var(--button-primary-active-color);
	}
}

.secondary {
	background: var(--button-secondary-background);
	color: var(--button-secondary-color);

	&:hover,
	&:focus {
		background: var(--button-secondary-hover-background);
		color: var(--button-secondary-hover-color);
	}

	&:active {
		background: var(--button-secondary-active-background);
		color: var(--button-secondary-active-color);
	}
}

.destructive {
	background: var(--button-destructive-background);
	color: var(--button-destructive-color);

	&:hover,
	&:focus {
		background: var(--button-destructive-hover-background);
		color: var(--button-destructive-hover-color);
	}

	&:active {
		background: var(--button-destructive-active-background);
		color: var(--button-destructive-active-color);
	}
}

.link {
	background: none;
	width: auto;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-16);
	text-decoration: underline;
	color: var(--button-link-color);

	&:focus-visible {
		outline-width: 3px;
		outline-style: solid;
		border-radius: 8px;
		outline-offset: 2px;
		outline-color: var(--button-link-outline-color);
	}

	@media screen and (min-width: 1024px) {
		font-size: var(--font-size-18);
	}
}
