.base {
	--button-primary-background: var(--color-blue-100);
	--button-primary-color: var(--color-white);
	--button-primary-hover-background: var(--color-blue-200);
	--button-primary-hover-color: var(--color-gray-100);
	--button-primary-active-background: var(--color-blue-300);
	--button-primary-active-color: var(--color-gray-200);

	/* Secondary Button */
	--button-secondary-background: var(--color-white);
	--button-secondary-color: var(--color-blue-100);
	--button-secondary-border-color: var(--color-blue-100);
	--button-secondary-hover-background: var(--color-gray-100);
	--button-secondary-hover-color: var(--color-blue-200);
	--button-secondary-hover-border-color: var(--color-blue-200);
	--button-secondary-active-background: var(--color-gray-200);
	--button-secondary-active-color: var(--color-blue-300);
	--button-secondary-active-border-color: var(--color-blue-300);

	/* Destructive Button */
	--button-destructive-background: var(--color-red-100);
	--button-destructive-color: var(--color-white);
	--button-destructive-hover-background: var(--color-red-200);
	--button-destructive-hover-color: var(--color-gray-100);
	--button-destructive-active-background: var(--color-red-300);
	--button-destructive-active-color: var(--color-gray-200);

	/* Link Button */
	--button-link-color: var(--color-blue-100);
	--button-link-outline-color: var(--color-blue-100);

	/* Base */
	--button-base-outline-color: var(--color-blue-100);
}

:global(.dark) .base {
	/* Primary Button */
	--button-primary-background: var(--color-gray-100);
	--button-primary-color: var(--color-gray-500);
	--button-primary-hover-background: var(--color-gray-200);
	--button-primary-hover-color: var(--color-gray-500);
	--button-primary-active-background: var(--color-gray-300);
	--button-primary-active-color: var(--color-black);

	/* Secondary Button */
	--button-secondary-background: var(--color-gray-500);
	--button-secondary-color: var(--color-gray-100);
	--button-secondary-border-color: var(--color-gray-100);
	--button-secondary-hover-background: var(--color-black);
	--button-secondary-hover-color: var(--color-gray-300);
	--button-secondary-hover-border-color: var(--color-gray-200);
	--button-secondary-active-background: var(--color-black);
	--button-secondary-active-color: var(--color-gray-300);
	--button-secondary-active-border-color: var(--color-gray-300);

	/* Destructive Button */
	--button-destructive-background: var(--color-light-red-100);
	--button-destructive-color: var(--color-white);
	--button-destructive-hover-background: var(--color-light-red-200);
	--button-destructive-hover-color: var(--color-gray-100);
	--button-destructive-active-background: var(--color-light-red-300);
	--button-destructive-active-color: var(--color-gray-200);

	/* Link Button */
	--button-link-color: var(--color-light-blue-100);
	--button-link-outline-color: var(--color-light-blue-100);

	/* Base */
	--button-base-outline-color: var(--color-light);
}

.base {
	width: auto;
	border-radius: 8px;
	border: none;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	font-size: var(--font-size-16);
	font-weight: var(--font-weight-semibold);

	&:focus-visible {
		outline-width: 2px;
		outline-style: solid;
		outline-offset: 4px;
		outline-color: var(--button-base-outline-color);
	}

	@media screen and (min-width: 768px) {
		height: 48px;
		font-size: var(--font-size-18);
	}
}

.primary {
	background: var(--button-primary-background);
	color: var(--button-primary-color);

	&:hover,
	&:focus {
		background: var(--button-primary-hover-background);
		color: var(--button-primary-hover-color);
	}

	&:active {
		background: var(--button-primary-active-background);
		color: var(--button-primary-active-color);
	}
}

.secondary {
	background: var(--button-secondary-background);
	color: var(--button-secondary-color);

	&:hover,
	&:focus {
		background: var(--button-secondary-hover-background);
		color: var(--button-secondary-hover-color);
	}

	&:active {
		background: var(--button-secondary-active-background);
		color: var(--button-secondary-active-color);
	}
}

.destructive {
	background: var(--button-destructive-background);
	color: var(--button-destructive-color);

	&:hover,
	&:focus {
		background: var(--button-destructive-hover-background);
		color: var(--button-destructive-hover-color);
	}

	&:active {
		background: var(--button-destructive-active-background);
		color: var(--button-destructive-active-color);
	}
}

.link {
	background: none;
	width: auto;
	font-weight: var(--font-weight-bold);
	font-size: var(--font-size-16);
	text-decoration: underline;
	color: var(--button-link-color);

	&:focus-visible {
		outline-width: 3px;
		outline-style: solid;
		border-radius: 8px;
		outline-offset: 2px;
		outline-color: var(--button-link-outline-color);
	}

	@media screen and (min-width: 1024px) {
		font-size: var(--font-size-18);
	}
}
