.avatar {
    position: relative;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 9999px;
    width: 2.5rem;
    height: 2.5rem;
}

@media (min-width: 768px) {
    .avatar {
        width: 3rem;
        height: 3rem;
    }
}

.avatarImage {
    aspect-ratio: 1 / 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatarFallback {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    color: var(--color-white);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-size-20);
    background-color: var(--color-gray-300);
}

@media (min-width: 768px) {
    .avatarFallback {
        font-size: var(--font-size-30);
    }
}

@media (prefers-color-scheme: dark) {
    .avatarFallback {
        background-color: var(--color-gray-400);
    }
}
